# compiled python files
*.pyc

# Pycharm
__pycache__/
.idea/

# local python environment
venv/

# logs
*.log

# snapshots, spectrum pics and thumbnails
src/snapshots/*
src/webUI/webroot/thumbnails/*

# digitised sample files
*.8t
*.8o
*.16tle
*.16tbe
*.wav
*.bin
*.32fle

