# compiled python files
*.pyc

# Pycharm
__pycache__/
.idea/

# local python environment
venv/

# logs
*.log

# snapshots, spectrum pics and thumbnails
src/snapshots/*.wav
src/snapshots/*.png
src/snapshots/*.bin
src/snapshots/*.32fle
src/snapshots/*.8o
src/snapshots/*.16tle

src/webUI/webroot/thumbnails/*.png

# digitised sample files
*.8t
*.8o
*.16tle
*.16tbe
*.wav
*.bin
*.32fle

