# compiled python files
*.pyc

# Pycharm
__pycache__/
.idea/

# local python environment
venv
.venv/

# logs
logs/
*.log

# snapshots and png spewctrums
snapshots/

# digitised sample files, incase they appwar elsewhere
*.8t
*.8o
*.16tle
*.16tbe
*.wav
*.bin
*.32fle

