# python requirements:
#
# edit required input sources etc
#

# processing
matplotlib>=3.7.1
numpy>=1.24.2
scipy>=1.10.1

# audio input source
sounddevice>=0.4.6

# analog device pluto device
pyadi-iio>=0.0.14
pylibiio>=0.21

# rtl devices
pyrtlsdr>=0.2.93

# soapy devices, SoapySDR
# Not supported by pip install
# Install using your package manager and copy files to the virtual env lib directory
# apt install python3-soapysdr
# dpkg -L dpkg -L python3-soapysdr
# cp /usr/lib/python3/dist-packages/SoapySDR.py ~/.local/share/virtualenvs/sid-xxxx/lib/python3.9/site-packages/
# cp /usr/lib/python3/dist-packages/_SoapySDR.cpython-39-x86_64-linux-gnu.so ~/.local/share/virtualenvs/sid-xxxx/lib/python3.9/site-packages/

# funcube dongle, control under linux
hid>=1.0.4

# mqtt plugin
paho-mqtt>=1.6.1

# web interface
websockets>=11.0.1

# flask
Flask>=2.2.3
flask_restful>=0.3.9

# sigmf support
sigmf

# testing
#pytest>=7.3.0




