# python requirements:
#
# edit required input sources etc
#

# processing
matplotlib>=3.3.4
numpy>=1.20.1
scipy>=1.6.1

# audio input source
sounddevice>=0.4.1

# analog device pluto device
pyadi-iio>=0.0.7
pylibiio>=0.21

# rtl devices
pyrtlsdr>=0.2.92

# soapy devices, SoapySDR
# Not supported by pip install
# Install using your package manager and copy files to the virtual env lib directory
# apt install python3-soapysdr
# dpkg -L dpkg -L python3-soapysdr
# cp /usr/lib/python3/dist-packages/SoapySDR.py ~/.local/share/virtualenvs/sid-xxxx/lib/python3.9/site-packages/
# cp /usr/lib/python3/dist-packages/_SoapySDR.cpython-39-x86_64-linux-gnu.so ~/.local/share/virtualenvs/sid-xxxx/lib/python3.9/site-packages/

# funcube dongle, control under linux
hid>=1.0.4

# mqtt plugin
paho-mqtt>=1.5.1

# web interface
websockets>=8.1

# flask
flask>=2.0.0
flask_restful>=0.3.9

# testing
#pytest>=5.4.3




