# python requirements with rtlsdr support
#
# available sources: ['audio', 'file', 'rtlsdr', 'rtltcp', 'socket']
# audio:Number 	  - number of the input device e.g. audio:1, '?' for list
# file:Filename   - Filename, binary or wave, e.g. file:./xyz.cf123.4.cplx.200000.16tbe
# rtlsdr:Name 	  - Name is anything, e.g. rtlsdr:abc
# rtltcp::IP@port - The Ip or resolvable name and port of an rtltcp server, e.g. rtltcp:192.168.2.1@12345
# socket:IP@port  - The Ip or resolvable name and port of a server, e.g. socket:192.168.2.1@12345


atomicwrites==1.4.0
attrs==19.3.0
certifi==2020.11.8
cffi==1.14.0
chardet==3.0.4
colorama==0.4.3
colored==1.4.2
cycler==0.10.0
idna==2.10
kiwisolver==1.2.0
matplotlib==3.3.4
more-itertools==8.3.0
numpy==1.20.1
packaging==20.4
paho-mqtt==1.5.1
Pillow==8.1.1
pluggy==0.13.1
psutil==5.7.0
py==1.8.1
pycparser==2.20
pyparsing==2.4.7
pytest==5.4.3
python-dateutil==2.8.1
requests==2.25.0
scipy==1.6.0
six==1.15.0
sounddevice==0.4.1
urllib3==1.26.2
wcwidth==0.2.3
websockets==8.1
wxPython==4.0.7


pyrtlsdr==0.2.92

