# python requirements with pluto support
#
# Available sources: ['audio', 'file', 'pluto', 'rtltcp', 'socket']
# audio:Number 	- number of the input device e.g. audio:1, '?' for list
# file:Filename 	- Filename, binary or wave, e.g. file:./xyz.cf123.4.cplx.200000.16tbe
# pluto:IP        - The Ip or resolvable name of the Pluto device, e.g. pluto:192.168.2.1
# rtltcp::IP@port - The Ip or resolvable name and port of an rtltcp server, e.g. rtltcp:192.168.2.1@12345
# socket:IP@port 	- The Ip or resolvable name and port of a server, e.g. socket:192.168.2.1@12345

certifi==2020.6.20
cffi==1.14.2
cycler==0.10.0
kiwisolver==1.2.0
matplotlib==3.3.1
numpy==1.19.1
paho-mqtt==1.5.0
Pillow==7.2.0
pycparser==2.20
pyFFTW==0.12.0
pyparsing==2.4.7
python-dateutil==2.8.1
scipy==1.5.2
six==1.15.0
sounddevice==0.4.0
websockets==8.1

pyadi-iio==0.0.5
pylibiio==0.21
