# python requirements:
#
# edit required input sources etc
#

# websockets, required
websockets>=11.0.1

# flask, required
Flask>=2.2.3
flask_restful>=0.3.9

# processing, required
matplotlib>=3.7.1
numpy>=1.24.2
scipy>=1.10.1
# more fft libraries, optional
pyfftw>=0.13.1

# analog devices pluto, optional
pyadi-iio>=0.0.15
pylibiio>=0.21

# rtl devices, optional
pyrtlsdr>=0.2.93

# soapy devices, optional
# Not supported by pip install
# Install using your package manager if it supports your sdr, e.g.
#     sudo apt install soapysdr-module-all
#     sudo apt install python3-soapysdr
# Add system to virtual environment path
#     vi ~/.local/share/virtualenvs/pi-xxxxxx/pyvenv.cfg
#     # allow search on system packages as Soapy has installed them there
#     include-system-site-packages = true

# audio input source, optional
sounddevice>=0.4.6

# funcube dongle control under linux, optional
# funcube requires audio support as well
hid>=1.0.4

# mqtt plugin, optional
paho-mqtt>=1.6.1

# sigmf file support, optional
sigmf>=1.1.5

# testing, optional
#pytest>=7.3.0




