html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: whitesmoke;
}

/* remove padding from bootstrap navbar to spectrum canvas */
body {
    padding-top: 0rem;
}

/* force canvas to be 100% wide, auto scale height */
canvas {
    width: 100%;
    height: auto;
    border: black 2px solid;
}

/* The configuration table */
.table {
    font-family:sans-serif;
    font-size:12pt;
}

/* the marker table, don't seem to be able to select it with #markerTable */
.marker-table-condensed tr {
    font-family:sans-serif;
    font-size:12pt;
}
.marker-table-condensed th {
    font-family:sans-serif;
    font-size:10pt;
}
.file-table-condensed tr {
    font-family:sans-serif;
    font-size:10pt;
}
.file-table-condensed th {
    font-family:sans-serif;
    font-size:10pt;
}
/* highlight table mouse hover row */
.table-hover tbody tr:hover td, .table-hover tobody th {
    background-color: #d0d0d0;
    // font-size: 15px;  /* make text bigger on hover */
}

/* remove arrow functionality from form number input boxes
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* hide submit buttons */
#submitbtnFreq{display:none;}
#submitbtnFreqOffset{display:none;}
#submitbtnGain{display:none;}

/* the font for our buttons */
.specbuttons{
    font-weight: 600;
    font-size: 10pt;
    font-family: 'Courier New';
}

/* Tabs */
.tab-pane {
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    border-radius: 0px 0px 5px 5px;
    padding: 10px;
}
/* colour of font on the tab */
.nav-tabs > li > a {
  color: black;
}

/* crop long lines of text */
.CropLongTexts100 {
  max-width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.CropLongTexts180 {
  max-width: 180px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* trigger status cell colour */
.greenTrigger {
    background: green;
}
.redTrigger {
    background: red;
}

